.lists {
    .post-list {
        a {
            text-decoration: none;
            color: #606266;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0.5rem;
            font-size: 1.3rem;
        }
        .post-title {
            &::before {
                content: "|";
                margin-right: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                opacity: 0.8;
            }
        }
    }
}
#container {
    background: url(/assets/bg.png) no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 60vh;
}