@import "https://chinese-fonts-cdn.deno.dev/packages/zqfs/dist/ZhuqueFangsong-Regular/result.css";
:root {
    font-family: 'Zhuque Fangsong (technical preview)';
}
@font-face {
    font-family: Jinghua;
    src: url('./assets/jkhx.ttf');
}
body {
    margin: 0;
    padding: 0;
}
main {
    width: 57vw;
    margin: auto;
    @media screen and (max-width:700px) {
        width: 95vw;
    }
}
#container {
    width: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0 1.2rem 0;
    #logo {
        font-family: Jinghua;
        font-size: 2.5rem;
        color: #E92261;
        border: 4px solid;
        padding: 2px 4px;
        border-radius: 5px;
        @media screen and (max-width:380px) {
            font-size: 1.6rem;
            border: 3px solid;
        }
    }
    #menu {
        margin: auto 0;
        a {
            text-decoration: underline;
            text-underline-offset: 0.4rem;
            font-size: 1.4rem;
            color: #E92261;
            font-weight: bolder;
            margin: 0 0.5rem;
            @media screen and (max-width:380px) {
                font-size: 1.3rem;
            }
        }
    }
}